#gmaps-container {
  height: 500px;
  width: 100%;
}
#gmaps-container .gmap-info-box-wrapper {
  background-color: #fff;
}
#gmaps-container .gmap-info-box-wrapper .gmap-info-box {
  padding: 25px;
  text-align: left;
  font-size: 16px;
}
#gmaps-container .gmap-info-box-wrapper .gmap-info-box .assortiment-images {
  margin: 0 auto;
}
#gmaps-container .gmap-info-box-wrapper .gmap-info-box .assortiment-images img {
  margin-top: 10px;
  width: 100%;
}
#gmaps-container .gmap-info-box-wrapper .gmap-info-box-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
.flex-xs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-xs.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
@media (min-width: 1025px) {
  #gmaps-container .gmap-info-box-wrapper {
    /*width: 300px;*/
    border: 1px solid #000;
  }
  #gmaps-container .gm-style-iw {
    top: 18px !important;
  }
}
@media print{
  #gmaps-container {
    display: none;
  }
}