.fa-meta {
    min-width: 16px;
    margin-right: 15px;
}
.wpcf7-recaptcha {
  margin-bottom: 15px;
}
.background-image {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 250px;
}
.background-image.contain {
    background-size: contain;
}
.transition {
  -webkit-transition: all 0.5s ease-in-out 0s;
  -khtml-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.files-panel .row > div[class^="col-"] {
    padding: 0 15px;
}
.files-panel .panel-heading, .files-panel .panel-body {
    border: none;
    padding: 0;
}
.file-item {
    margin: 15px 0;
}
.file-item .fa {
    margin-right: 10px;
    font-size: 2rem;
}
@media (max-width: 767px) {
  .no-more-tables .table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .no-more-tables .table tbody tr {
    display: block;
  }
  .no-more-tables .table tbody tr td {
    display: block;
    position: relative;
    padding: 10px;
    padding-left: 50%;
  }
  .no-more-tables .table tbody tr td:nth-child(1) {
    border-top: none;
  }
  .no-more-tables .table tbody tr td:before {
    position: absolute;
    content: attr(data-title);
    top: 10px;
    left: 10px;
    width: 45%;
    max-height: 44px;
    overflow: auto;
    word-break: break-word;
    text-align: left;
    font-weight: 600;
    color: #3fb4e6;
  }
  .no-more-tables .table .td-number {
    text-align: left;
  }
}
@media (min-width: 1025px) {
  .clear-left-items .col-md-4:nth-child(3n+1) {
    clear: left;
  }
  .clear-left-items .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .clear-left-items .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}
